@font-face {
    font-weight:500;
    font-family:'Product Sans';
    src:url('fonts/Product Sans Bold.ttf');
    font-style: bold;
}
@font-face {
    font-weight:400;
    font-family:'Product Sans';
    src:url('fonts/Product Sans Regular.ttf');
    font-style:normal;
}

/*body {
    background: #f2f2f2;
    color: #727276;
    font-family: Product Sans;
    font-weight: bold;
    font-size: 2rem;
    margin: 0;
}

header {
    padding: 25px 10px;
    background: #fff;
    margin-bottom: 20px;
}

.logo {
    font-size: 1.2em;
    margin-left: 20px;
}

.container {
    margin: auto 3%;
    background-color: #fff;
    padding: 3%;   
}

.title-wrapper {
    display: flex;
    flex-flow: row;

}

button {
    color: #727276;
    margin-top: 5%;
    justify-content: center;
    background-color: #f4f4f4;
    padding: 10px 25px;
    border: 2.5px solid #727276;;
    border-radius: 50px;
    font-family: Product Sans;
    font-weight: bold;
    font-size: 0.5em;
    text-transform: uppercase;

}

button:hover {
    background-color: #727276;
    color: #fff;
    transition: 0.2s ease-in;
    transform: translate(1.03);
    cursor: pointer;
} */

#fact{
    display: none;
    text-transform: uppercase;
}

#numberFact {
    font-size: 0.75em;
    font-weight: bold;
    color: yellow;
}